{% extends 'base.html' %}
{% block content %}
    <div>
        <h4>Cash</h4>
        {% for acc_currency in currencies %}
            <div>{{ acc_currency.amount }}{{ acc_currency.sign }}</div>
        {% endfor %}
    </div>
    <div>
        <h4>Stocks</h4>
        <table class="table">
            <thead>
                <tr>
                    <th>ticker</th>
                    <th>Ammount</th>
                    <th>Avg price</th>
                </tr>
            </thead>
            <tbody>
            {% for acc_stock in stocks %}
                <tr>
                    <td>{{ acc_stock.ticker }}</td>
                    <td>{{ acc_stock.amount }}</td>
                    <td>{{ acc_stock.avg }} 
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div>
        <a href="{% url 'stock:list' %}">Go to stocks list</a>
    </div>
{% endblock %}
